*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    
    
}
body{
    background: rgb(244, 246, 245);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}